{% include 'pages/header.twig' %}
<div class="ui main container">
	{% if YesterdayData.daysData %}
	<div class="ui three column doubling stackable grid container">
			<div class="column">
				<div class="ui doubling stackable card">
					<h2 class="ui centered header">{{ "Yesterday" }}</h2>
					<div class="content">
						<div class="ui two column centered grid">
							<div class="column">
								<h2 class="ui center aligned header" style="overflow: hidden; text-overflow: ellipsis;">{{ city.name }}</h2>
								<p class="ui center aligned header" style="padding-top:1px;">{{cityData.daysData[i].data.instant.details.air_temperature}}°</p>
							</div>
							<div class="column">
								<div class="image-container">
									<img class="ui medium image" style="padding-right:15px; padding-top:10px;" src="/assets/weatherIcons/weather/png/{{i == 0 ? cityData.daysData[i].data.next_1_hours.summary.symbol_code : cityData.daysData[i].data.next_6_hours.summary.symbol_code}}.png">
								</div>
							</div>
						</div>
					</div>
					<div class="ui segment">
						<h4 class="center aligned description">Humidity :
							{{cityData.daysData[i].data.instant.details.relative_humidity}}%</h4>
						<h4 class="center aligned description">Wind :
							{{cityData.daysData[i].data.instant.details.wind_speed}}m/s</h4>
						<h4 class="center aligned description">Precipitation :
							{{i == 0 ? cityData.daysData[i].data.next_1_hours.details.precipitation_amount : cityData.daysData[i].data.next_6_hours.details.precipitation_amount}}mm</h4>
					</div>
				</div>
			</div>
	</div>
	{% else %}
	<p> Yesterday data of {{city.name}} not available </p>
	{% endif %}
</div>
 <script> $('.ui.dropdown').dropdown();</script></body></html>
